openapi: 3.2.0
info:
  title: Oracle Health Generic API
  version: R4
  contact:
    name: Oracle Health Developer Program
    url: https://www.oracle.com/health/developer/
  description: 'Operations tagged Generic across 2 of this provider''s published API definitions: cerner-oracle-health-fhir-r4-api-openapi.yml, cerner-generic-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://fhir-ehr.cerner.com/r4
  description: Cerner Millennium FHIR R4 production endpoint
- url: https://fhir-open.cerner.com/r4
  description: Cerner Millennium FHIR R4 sandbox endpoint
security:
- oauth2: []
tags:
- name: Generic
  description: Generic FHIR resource read/write operations.
paths:
  /{resource}:
    post:
      operationId: createResource
      summary: Create FHIR Resource
      description: Creates a new instance of the named FHIR resource type.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type (e.g., Observation, Condition).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '201':
          description: Resource created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://fhir-ehr.cerner.com/r4
      description: Cerner Millennium FHIR R4 production endpoint
    - url: https://fhir-open.cerner.com/r4
      description: Cerner Millennium FHIR R4 sandbox endpoint
  /{resource}/{id}:
    put:
      operationId: updateResource
      summary: Update FHIR Resource
      description: Updates an existing FHIR resource by ID.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The FHIR resource ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '200':
          description: Resource updated
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patchResource
      summary: Patch FHIR Resource
      description: Partially updates an existing FHIR resource by ID.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The FHIR resource ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '200':
          description: Resource patched
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://fhir-ehr.cerner.com/r4
      description: Cerner Millennium FHIR R4 production endpoint
    - url: https://fhir-open.cerner.com/r4
      description: Cerner Millennium FHIR R4 sandbox endpoint
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
    NotFound:
      description: The requested resource was not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
  schemas:
    FHIRResource:
      type: object
      description: A generic FHIR R4 resource.
      properties:
        resourceType:
          type: string
        id:
          type: string
      additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 with patient, user, and system scopes.
      flows:
        authorizationCode:
          authorizationUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/personas/patient/authorize
          tokenUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/token
          scopes:
            patient/*.read: Read all patient-scoped resources.
            user/*.read: Read all user-scoped resources.
            system/*.read: System-level read access.
        clientCredentials:
          tokenUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/token
          scopes:
            system/*.read: System-level read access.
            system/*.write: System-level write access.
externalDocs:
  description: Oracle Health Millennium FHIR R4 Documentation
  url: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfrap/r4_overview.html
x-refined-from:
- cerner-oracle-health-fhir-r4-api-openapi.yml
- cerner-generic-api-openapi.yml
