# x-archived-from: cerner-generic-api-openapi.yml
# x-archived-on: 2026-09-26
openapi: 3.2.0
info:
  title: Oracle Health Millennium Platform FHIR R4 Generic API
  description: The Oracle Health (Cerner Millennium) FHIR R4 API provides OAuth 2.0-secured access to EHR data in the HL7 FHIR R4 format. It exposes USCDI-aligned resources such as Patient, Practitioner, Observation, Condition, MedicationRequest, DocumentReference, and Encounter for patient-access apps, provider apps, and interoperability partners. The API supports SMART on FHIR app launching and is the successor to the Cerner Millennium DSTU2 FHIR API.
  version: R4
  contact:
    name: Oracle Health Developer Program
    url: https://www.oracle.com/health/developer/
servers:
- url: https://fhir-ehr.cerner.com/r4
  description: Cerner Millennium FHIR R4 production endpoint
- url: https://fhir-open.cerner.com/r4
  description: Cerner Millennium FHIR R4 sandbox endpoint
security:
- oauth2: []
tags:
- name: Generic
  description: Generic FHIR resource read/write operations.
paths:
  /{resource}:
    post:
      operationId: createResource
      summary: Create FHIR Resource
      description: Creates a new instance of the named FHIR resource type.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type (e.g., Observation, Condition).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '201':
          description: Resource created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{resource}/{id}:
    put:
      operationId: updateResource
      summary: Update FHIR Resource
      description: Updates an existing FHIR resource by ID.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The FHIR resource ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '200':
          description: Resource updated
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patchResource
      summary: Patch FHIR Resource
      description: Partially updates an existing FHIR resource by ID.
      tags:
      - Generic
      parameters:
      - name: resource
        in: path
        required: true
        description: The FHIR resource type.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The FHIR resource ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FHIRResource'
      responses:
        '200':
          description: Resource patched
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    FHIRResource:
      type: object
      description: A generic FHIR R4 resource.
      properties:
        resourceType:
          type: string
        id:
          type: string
      additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
  securitySchemes:
    oauth2:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 with patient, user, and system scopes.
      flows:
        authorizationCode:
          authorizationUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/personas/patient/authorize
          tokenUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/token
          scopes:
            patient/*.read: Read all patient-scoped resources.
            user/*.read: Read all user-scoped resources.
            system/*.read: System-level read access.
        clientCredentials:
          tokenUrl: https://authorization.cerner.com/tenants/{tenant}/protocols/oauth2/profiles/smart-v1/token
          scopes:
            system/*.read: System-level read access.
            system/*.write: System-level write access.
externalDocs:
  description: Oracle Health Millennium FHIR R4 Documentation
  url: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfrap/r4_overview.html
x-generated-from: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfrap/r4_overview.html
x-generated-by: claude-crawl-2026-05-08
